body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    /* animation-name: backgroundChange;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  section {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  h1 {
    animation-name: colorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes colorChange {
    0% { color: white; }
    
    50% { color: blue; }
     
    100% { color: white; }
  }
  
  @keyframes backgroundChange {
    0% { background-color: lightblue; }
    
    50% { background-color: blue; }
     
    100% { background-color: lightblue; }
  }
  
  
  